@page "/"

<PageTitle>Canvas</PageTitle>

<h1>🎨Canvas</h1>

<p>This app is under development.</p>

<canvas width="500" height="500" onclick="@canvas_draw">

</canvas>

@code {
    void canvas_draw()
    {
        
    }
}